<div class="center jumbotron" >
  <h1>Welcome to the Envios Ya</h1>

  <h2>
    Please login or signup to start using 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

