<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to EnviosYa,</h1> 
    <p>
      Your email is: <%= @email %>
    </p>
    <p>
      To signup to the site, just follow this link:
      https://envios-ya-obligatorio.mybluemix.net/signup?invitee=<%= @senderId %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>