<% provide(:title, "Admin login") %>
<h1>Admin login</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(admins_login_path) do |f| %>
    
      <label>Username</label>
      <%= text_field_tag 'username' %>
      
      <label>Password</label>
      <%= password_field_tag :password %>
      
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
