<% provide(:title, "Shipment list") %>
<h1>Shipment list</h1>

<div class="row">
  <div class="col-md-12 col-md-offset-3">
      
    <label>Shipments in progress</label> 
    <% @shipment_in_progress.each do |element| %>
       <li> <%= element.date %> <%= link_to 'See',drivers_shipment_path(:id => element.id), class: 'btn btn-primary'%></li>
       
    <% end %>
    
    <label>Shipments delivered</label> 
    <% @shipment_deliveder.each do |element| %>
       <li> <%= element.date %> <%= link_to 'See',drivers_shipment_path(:id => element.id), class: 'btn btn-primary'%></li>
    <% end %>

  </div>
</div>