<footer class="footer">
  <small>
    The best way yo take things wherever you want
  </small>
  <nav>
    <ul>
      <li> Are you a driver?</li>
      <li><%= link_to "Login", '/drivers_session/login' %></li>
      <li><%= link_to "Signup", '/drivers/new' %></li>
    </ul>
  </nav>
</footer>