<footer class="footer">
  <% if !logged_in? && !logged_in_driver? %>
    <small>
     <%= link_to "Log as admin", '/admins/login' %>
    </small>
    <nav>
      <ul>
        <li> Are you a driver?</li>
        <li><%= link_to "Login", '/drivers_session/login' %></li>
        <li><%= link_to "Signup", '/drivers/new' %></li>
      <% end %>
    </ul>
  </nav>
</footer>